
* {
  margin:0;
  padding:0;
  font-family: 'Helvetica Neue', Helvetica, 
  "Microsoft YaHei", "微软雅黑", 
  STXihei, "华文细黑", 
  serif;
}
body {
  text-align: center;
  background: #f9f9f9;
}
.container {
  margin: 0 auto;
  padding:30px 0;
  text-align: center;
  box-sizing: border-box;
}
.header{
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 100;
    color: #8493C5;
}
.header h3 {
  font-weight: 100;
  color: #8493C5;
}
.btn-outline-secondary {
  background: #B2BFDE!important;;
  color: #fff!important;;
  transition: background .3s!important;
  border:none!important;
}
.btn-outline-secondary:hover{
  background: #8493C5!important;
}
.form-control {
  border: none!important;
}
.form-control:focus{
  color: #8493C5!important;
}
.remove {
  font-weight: 100;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 3%;
  font-size: 30px;
  color: #cc9a9a;
  padding: 0;
  border: 0;
  background: none;
}
.remove:after {
  content: "×";
}
.itemList {
  padding:30px;
  font-weight: 100;
  color: #a5a5a5;
  text-align: left;
}
li{
  font-weight: 200;
  background: #fff;
  list-style: none;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  position: relative;
  padding: 0 10%;
}
li:hover {
      background: #F7F9FF;
  }
input[type="text"] {
  outline: none;
}